/* --------------------------
:: 9.0 Pricing Plan Area CSS
-------------------------- */
.pricing-plane-area {
    background: #f5f9fc;
}

.single-price-plan {
    background: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 30px;
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
}

.single-price-plan:hover{
     -webkit-box-shadow: 10px 10px 20px #000;
            box-shadow: 0 10px 20px #000;
}

.single-price-plan .package-plan {
    padding: 20px;
    border-radius: 30px 30px 30px 30px;
    border: 1px solid;
    border-color: #ae841a;
}

.single-price-plan .package-plan > h5 {
    color: #000;
    font-size: 18px;
}


.single-price-plan .package-plan .ca-price h4 {
    color: #ff6b09;
    font-size: 18px;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    line-height: 1;
    font-weight: bolder;
}

.single-price-plan .package-plan .ca-price span {
    font-size: 18px;
    color: #fb397d;
}

.single-price-plan .plan-button > a {
    background: -webkit-linear-gradient(to left, #efb810, #ae841a);
    background: -webkit-linear-gradient(right, #efb810, #ae841a);
    background: -webkit-gradient(linear, right top, left top, from(#efb810), to(#ae841a));
    background: -o-linear-gradient(right, #efb810, #ae841a);
    background: linear-gradient(to left, #efb810, #ae841a);
    padding: 10px 0;
    border-bottom-right-radius: 30px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    display: block;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.criptomonedas {
    border-radius: 30px !important;
}

.criptomonedas_2 {
    border-radius: 30px !important;
    font-size: 13px !important;
    padding: 5px 0 !important;
}
.height-15{
    height: 15px;
}
.single-price-plan .package-description > p {
    border-bottom: 1px solid #ebebeb;
    padding: 30px; 
    line-height: 35px;
    color: #647585;
}

.single-price-plan .package-description > p:first-child {
    border-top: 1px solid #ebebeb;
}

.single-price-plan.active .package-plan,
.single-price-plan.active .plan-button > a,
.single-price-plan:hover .plan-button > a {
    background-color: #a865e1;
}

.single-price-plan.active .package-plan .ca-price > h4,
.single-price-plan.active .package-plan .ca-price > span,
.single-price-plan.active .package-plan > h5,
.single-price-plan.active .plan-button > a {
    color: #fff;
}
.currency_text{
font-size: 15px;
line-height: 88%;
font-weight: 700;
color: #002166;
letter-spacing: 0px;
text-align: center;
padding: 10px;
}

.currency_text_all{
font-size: 16px;
line-height: 88%;
font-weight: 600;
color: #000;
letter-spacing: 0px;
text-align: center;
text-transform: uppercase;
}
.prince_all{
    color: #b38a0c;
    font-size: 15px;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    line-height: 1;
}
.text-red{
    color: red;
    font-size: 14px;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    line-height: 1;
}
.text-green{
    color: green;
    font-size: 14px;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    line-height: 1;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

header .container {
    padding-top: 150px;
    padding-bottom: 50px;
}
.separador-padding {
    padding: 0 0 5px 0;
}
.separador-cripto-all-top {
    border-top: 1px solid #e5e5e5;
}


.margin-top-10 {
    margin-top: 10px;
}
.floatleft {
    float: left;
}

.margin-top-20 {
    margin-top: 20px;
}
.margin-top-50 {
    margin-top: 50px;
}
.text-center {
    text-align: center !important;
}
.margin-top-porcentaje {
    margin-top: 20px;
}
.text-center {
    text-align: center !important;
}
.text-variacion-positivo {
    font-size: 14px;
    color: #61CA00;
}   
.margin-top-4 {
    margin-top: 4px;
}
.text-center {
    text-align: center !important;
}
.margin-top-10 {
    margin-top: 10px;
}
.cryptocurrency {
    color: #F7921A !important;
    background-color: #ffffff !important;
    border-color: #F7921A !important;
}
h6{
 font-size: 14px !important;   
}
.section-heading{
    background-size: cover;
    min-height: 100px;
}
.bloqueGris {
    color: #ffffff;
}
.bloqueGris_1 {
    background: -webkit-linear-gradient(to left, #efb810, #ae841a);
    background: -webkit-linear-gradient(right, #efb810, #ae841a);
    background: -webkit-gradient(linear, right top, left top, from(#efb810), to(#ae841a));
    background: -o-linear-gradient(right, #efb810, #ae841a);
    background: linear-gradient(to left, #efb810, #ae841a);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 6px;
    padding-bottom: 50px !important;
    padding: 10px 0;
    display: block;
    color: #ffffff;
}
.bloqueGris_2 {
    background: -webkit-linear-gradient(to left, #efb810, #ae841a);
    background: -webkit-linear-gradient(right, #efb810, #ae841a);
    background: -webkit-gradient(linear, right top, left top, from(#efb810), to(#ae841a));
    background: -o-linear-gradient(right, #efb810, #ae841a);
    background: linear-gradient(to left, #efb810, #ae841a);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 6px;
    padding-top: 20px !important;
    padding-bottom: 2px !important;
    display: block;
    color: #ffffff;
}

.bloqueGris_1{
    padding-bottom: 15px !important;
}

.padding_bottom_50{
    padding-bottom: 50px;
}
.floatright {
    float: right !important;
}
.icono-dropdown-cryptocurrency {
    position: relative;
    right: 30px;
    top: -36px;
    color: #575757;
    z-index: 9;
}
.margin-top-100{
    margin-top: 50px;
}
/*//footer*/
.bottom_bg{
    margin-top: 80px;
    background: url(../images/bg-bottom.jpg) center top no-repeat #000;
}
.footer
{
	padding-top: 55px;
	padding-bottom: 55px;
        color: rgba(255,255,255,.7);
        background-color: transparent;
        background-image: url(../images/bg-bottom.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        border: none;
}
.footer p
{
	color: #fff !important;
        font-size: 12px;
}
.footer_logo
{
	padding-left: 0px;
	margin-bottom: 39px;
}
.footer_logo a
{
	color: #fff;
	line-height: 1;
}
.footer_intro p
{
	margin-bottom: 0px;
}
.footer_social
{
	margin-top: 27px;
}
.footer_social ul
{
	display: inline-block;
	margin-left: -5px;
}
.footer_social ul li
{
	display: inline-block;
	margin-right: 22px;
}
.footer_social ul li a
{
	padding: 5px;
}
.footer_social ul li a i
{
	font-size: 12px;
	color: #bab6c3;
}
.footer_social ul li a:hover i
{
	color: #1b0d37;
}
.footer_col
{
	margin-bottom: 27px;
}
.footer_col:last-child
{
	margin-bottom: 0px;
}
.footer_col_title
{
	font-size: 15px;
	font-weight: 500;
        color: #dfaf1f;
        text-transform: uppercase;
        font-weight: bolder;
	margin-bottom: 9px;
        margin-left: 25px;
}
.circle
{
	list-style-type:circle !important;
        color: #fff !important;
}
.footer_col ul li a
{
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
         
}
.footer_col ul li a:hover
{
       color: #ae841a !important;
}
.redes{
    color: #000 !important;
}
.redes:hover{
    color: #000 !important;
}
.button_comprar{
    font-size: 18px !important;
}
.button a:hover{
    color: #ffd800 !important;
}

.footer_col ul li a:hover
{
	color: #28262d;
}
/*BOTON COMPRAR*/
.submit_btn_comprar{
    height: 54px;
    width: 100%;
    color: #99760a !important;
    text-align: center;
    border: solid 2px #99760a;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    color: #452b78;
    cursor: pointer !important;
}
submit_btn_comprar:hover {
    color: #fff !important;
    border: solid 2px #99760a;
    background: #99760a !important;
    color: #452b78;
    cursor: pointer !important;
}
.input-group-addon-2{
    width: 11%;
    white-space: nowrap;
    vertical-align: middle;
}
.box-dropdown-cryptocurrency {
    border-radius: 4px;
    padding: 7px 10px 10px 10px;
    margin-bottom: 15px;
    background-color: #999999;
    position: absolute;
    z-index: 100;
    right: 15px;
    display: none;
    text-align: left;
}
.selecformaspago-desplegable {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 44px;
    padding: 3px 10px;
    color: #666666;
    margin-top: 5px;
    cursor: pointer;
}
.deplegable-criptomonedas {
    width: 401px;
    z-index: 999999;
    max-height: 306px !important;
    overflow-y: scroll;
}
.img_cripto {
    width: 35px;
    padding-right: 5px;
    margin-left: 8px;
}
/*error message*/
.field-validation-error {
    border: none;
    font-size: 1px;
    background-color: rgba(236, 187, 185, 0.52);
    color: #ff0000;
    padding: 5px 15px;
    margin: 5px 0;
    display: block;
}